# Configuración de la Base de Datos
# -------------------------------
# Selección del Driver: 'pgsql' para PostgreSQL (recomendado) o 'mysql'
DB_DRIVER=pgsql

# El nombre de host de tu servidor de base de datos (ej: localhost, 127.0.0.1, o una IP remota)
DB_HOST=localhost

# El puerto estándar para PostgreSQL es 5432, para MySQL usa 3306
DB_PORT=5432

# El nombre de la base de datos que creaste en tu servidor
DB_NAME= tu_nombre_de_base_de_datos

# Tu nombre de usuario de la base de datos (por defecto suele ser 'postgres' en PgSQL)
DB_USER=postgres

# Tu contraseña de la base de datos
DB_PASS=tu_contraseña_aquí
